/* html {

} */
body {
    background-color: hsl(240, 75%, 98%);
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

/* Navbar Section  Start*/
.navbar {
    margin-bottom: 30px;
}
.logo-image {
    width: 52%;
}
.nav-item {
    padding: 0 10px;
    font-size: 0.875rem;
}
.nav-link {
    font-size: 0.75rem;
    color: hsl(238, 22%, 44%);
}
/* Navbar Section  End*/

/* Title Section */
#title {
    padding: 3% 12%;
    font-family: 'Raleway', sans-serif;
    background-color: #F6F1F1;
}
.header-text-container {
    margin-bottom: 30px;
}
.title-heading {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.5;
}
.title-text {
    font-size: 0.938rem;
    font-weight: 500;
}
.title-image {
    width: 100%;
}

/* Form Section */
form {
    font-size: 0.875rem;
}
.input-fields {
    margin: 8px 0;
}
input[type="email"] {
    font-size: 0.875rem;
    border-radius: 2px;
}
#form-btn{
    background-color: hsl(243, 30%, 12%);
    border: none;
    border-radius: 2px;
    font-size: 0.875rem;
    width: 60%;
}

/* Body Section */
#body{
    font-family: 'Raleway', sans-serif; 
    margin-top: 80px;
    padding: 3% 12%;
}
.body-text {
    margin-bottom: 40px;
}
.testimonials {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    margin-top: 25px;
    padding: 2em;
    width: 65%;
}
.features-heading {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.5;
}
.features-text {
    font-size: 0.875rem;
    padding-right: 6em;
}
.features-link {
    border-bottom: 2px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
    font-size: 0.875rem;
    text-decoration: none; 
}
.features-icon {
    font-size: 0.75rem;  
    margin-left: 5px;
}
.testimonials-text {
    font-size: 0.813rem;
    line-height: 1.5;
}
.customer-name-text {
    font-size: 0.813rem;
    font-weight: 700;
    margin-bottom: 0;
}
.abt-testimonials-text {
    font-size: 0.688rem;

}
.customer-image-container {
    float: left;
    padding-right: 15px;
}
.customer-image {
    border-radius: 50%;
    width: 40px;
}
.qoutes-image {
    margin-bottom: 10px;
}
.features-main-image {
    width: 100%;
}

/* Contact Us Section */
#contact-us {
    background-color: #E4DCCF;;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    padding: 4% 12%;
    margin-top: 20px;
}
.con-heading {
    font-size: 1.25rem;
    font-weight: 700;
}
.con-text {
   font-size: 0.813rem;
   padding-right: 5em;
}
#con-btn {
    font-size: 0.813rem;
    margin-top: 10px;
    background-color: hsl(243, 30%, 12%);
    border: none;
    border-radius: 2px;
}

/* Footer Section */
#footer {
    background-color: #F6F1F1;
    color: hsl(238, 22%, 44%);
    font-family: 'Raleway', sans-serif;
    padding: 7% 12% 3% 12%;
}
.first {
    padding-right: 5rem;
}
.contact-info-text {
    font-size: 0.75rem;
    letter-spacing: 2px;  
    margin: 8px 0;
}
.icon-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-icons {
    padding: 3px 12px 2px 12px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 100%;
    margin: 0 8px;
}
.facebook-icon {
    padding: 3px 12px 5px 12px;
}
.contact-icon {
    font-size: 0.625rem;
}
.footer-logo {
    font-size: 1.5rem;
    font-weight: 600;
}
.about-company-list {
    list-style: none;
    margin-top: 120px;
    padding: 0;
}
.condition-container {
    margin-top: 80px;
}


@media only screen and (max-width: 767px) {
    #form-btn{
        width: 100%;
    }
   
    .condition-container {
        margin-top: 0;
    }
  }

  @media only screen and (max-width: 575px) {
    .about-company-list {
        margin-top: 0;
    }
  }